<nav class="main-header navbar navbar-expand elevation-1">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link navbar-link-item"
        data-widget="pushmenu"
        href="#"
        role="button"
        ><i class="fa fa-bars"></i
      ></a>
    </li>
  </ul>
  <div class="font-weight-bold">Sangndoro Coffee Smart Cafe</div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="/logout" class="nav-link navbar-link-item">Logout</a>
    </li>
  </ul>
</nav>
<aside class="main-sidebar sidebar-dark-primary elevation-1">
  <div class="sidebar">
    <a href="/" class="brand-link">
      <img
        src="/assets/icon/coffee-logo.png"
        alt="AdminLTE Logo"
        class="brand-image"
      />
      <span class="brand-text font-weight-light">Sangndoro Coffe</span>
    </a>
    <div class="my-sidebar-menu">
      <ul class="nav nav-sidebar nav-pills flex-column">
        <nav
          class="mt-2 nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="fa fa-tachometer nav-icon" aria-hidden="true"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-header" style="padding: 0.5rem 1rem 0.5rem 1rem">
            Master Data
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Pengguna
                <i class="right fa fa-angle-down"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin" class="nav-link">
                  <i class="fa fa-circle-o nav-icon" aria-hidden="true"></i>
                  <p>Admin</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/member" class="nav-link">
                  <i class="fa fa-circle-o nav-icon" aria-hidden="true"></i>
                  <p>Member</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-database"></i>
              <p>
                Data
                <i class="right fa fa-angle-down"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/category" class="nav-link">
                  <i class="fa fa-circle-o nav-icon" aria-hidden="true"></i>
                  <p>kategori</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/item" class="nav-link">
                  <i class="fa fa-circle-o nav-icon" aria-hidden="true"></i>
                  <p>Item</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-gear"></i>
              <p>
                Setting Chat
                <i class="right fa fa-angle-down"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/nlp-answer" class="nav-link">
                  <i class="fa fa-circle-o nav-icon" aria-hidden="true"></i>
                  <p>Jawaban</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/nlp-question" class="nav-link">
                  <i class="fa fa-circle-o nav-icon" aria-hidden="true"></i>
                  <p>Pertanyaan</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-bar-chart"></i>
              <p>
                Laporan
                <i class="right fa fa-angle-down"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/laporan-penjualan" class="nav-link">
                  <i class="fa fa-circle-o nav-icon" aria-hidden="true"></i>
                  <p>Penjualan</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/laporan-stock" class="nav-link">
                  <i class="fa fa-circle-o nav-icon" aria-hidden="true"></i>
                  <p>Stock</p>
                </a>
              </li>
            </ul>
          </li>
        </nav>
      </ul>
    </div>
  </div>
</aside>
